
*{  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width:100%;
    margin: 0;
    padding: 0;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#i{ 
    margin-top:680px;
    width:100%;
    height:150vh;
    position: absolute;
}
.main{
    margin-top:65px;
    width:99.8%;
    height:90px;
    border:1px solid;
    border-color:rgb(24, 23, 23,0.1);
    position: absolute;
    display: flex;
    align-items: center;
    gap:80px;
}
.main:hover{
    background-color:whitesmoke;
}
.leftM{
    transform: translateX(160px);
    margin-left:10px;
    display: flex;
    align-items: center;
}
.leftM:hover{
    background-color:whitesmoke;
}
.leftM1{
    height: 39px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.leftM1>h3{
    transform: translateY(22px);
    font-size:x-large;
    margin-left:7px;
}
.leftM1>p{
    transform: translateY(-30px);
    margin-left:7px;
    font-size: larger;
}
.rightM{
    display: flex;
    align-items: center;
    height:90px;
    transform: translateX(100px);
}
.rigthM:hover{
    background-color:whitesmoke;
}
.leftM img{
    width:42px;
    height:42px;
}
.rightM{
    margin-left: 40px;
}
.nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:34px;
}
.nav>ul>li{
   list-style: none;
}
.nav>ul>li>a{
    text-decoration: none;
    color: black;
    font-size:medium;
    opacity:0.8;
}
.rightM1{
    margin-left:250px;
    display: flex;
    align-items: center;
    gap:15px;
    opacity: 0.7;
}

.rightM1:hover{
    background-color:whitesmoke;
}
.rightM1>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgb(24, 23, 23,0.8);
}
.hero{
    margin-top:900px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.par{
     margin-left:170px;
}

.par>.p1{
    font-family: 'Times New Roman', Times, serif;
    font-size:70px;
    opacity: 0.8;
}
.par>#p2>p{
   transform: translateY(-10px);
   transition: transform 1s ease;
}
.par>#p3>p{
   transform: translateY(-75px);
   transition: transform 1s ease;0
}
.par>#p4>p{
   transform: translateY(-145px);
   transition: transform 1s ease;
}
.hero-bottom{
    margin-left:170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.box{
    transform: translateY(-190px);
   width:280px;
   height:290px;
   border-radius: 13px;
   backdrop-filter: blur(23px);
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color:rgb(249, 246, 246,0.3);
   transform-origin:top-left;
   position: relative;
}
.d1>p{
  font-size: xx-large;
  opacity: 0.7;
  transform: translateY(0px);
}
.d1{
    display: flex;
    justify-content: center;
    align-items: center;
    height:36px;
    overflow: hidden;
    position: absolute;
}
.d1>p{
    transition: transform 0.5s ease;
}
.box:hover .d1>p{
    transform: translateY(-50px);
    transition: transform 0.5s ease;
}
.d2{
    width: 260px;
    opacity:0;
    position: absolute;
    top:10px;
    transition:all 0.5s ease;
}
.box:hover .d2{
    opacity: 1;
    transition:all 0.5s ease;
}
.box:hover{
    background-color:rgb(249, 246, 246,1.0);
}

.f1{
    overflow: hidden;
    height:20px;
}
.f1>p{
    transform: translateY(30px);
    transition:transform 0.5s ease;
    font-size: smaller;
}
.box:hover .f1>p{
    transform: translateY(-9px);
    transition: transform 0.5s ease;
}

.d21{
    position: absolute;
    width: 1px;
    height: 1px;
    top:245px;
    transition:all 0.7s ease;
}
.box:hover .d21{
    width: 250px;
    height: 1px;
    transition: all 0.7s ease;
    background-color: black;
}

.d22{
    width:245px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:252px;
    overflow: hidden;
}
.d222{
    overflow: hidden;
}
.d22>span{
    font-size: smaller;
    transform: translateY(100px);
    transition: transform 0.5s ease;
}
.box:hover .d22>span{
    transform: translateY(1px);
    transition: transform 0.5s ease;
}
.d222>i{
    transform: translateX(-100px);
    font-size: smaller;
    transition: transform 0.5s ease;
}
.box:hover .d222>i{
    transform: translateX(1px);
    transition: transform 0.5s ease;
}